@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC:wght@400..700&family=Baskervville:ital,wght@0,400..700;1,400..700&display=swap&family=Afacad:ital,wght@0,400..700;1,400..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Crimson+Text+SemiBold:ital,wght@0,600&display=swap');

@import 'tailwindcss';
@import '@performant-software/core-data/tailwind.css';

@plugin '@tailwindcss/typography';

@source '../../node_modules/@performant-software/core-data';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@theme {
  --color-neutral-dark: #111928;
  --color-neutral-light: #F5F5F5;
  --color-default-primary: #073B4C;
  --color-default-secondary: var(--color-neutral-light);

  --color-primary: var(--customColorPrimary, var(--color-default-primary));
  --color-secondary: var(--customColorSecondary, var(--color-default-secondary));
  --color-tertiary: var(--customColorTertiary, var(--color-black));
  --color-layout: var(--customLayout, var(--color-white));
  --color-layout-alt: var(--customLayoutAlternate, var(--color-netural-light));
  --color-text-primary: var(--customPrimaryContent, var(--color-white));
  --color-text-secondary: var(--customSecondaryContent, var(--color-black));
  --color-text-tertiary: var(--customTertiaryContent, var(--color-white));
  --color-content: var(--customContent, var(--color-black));
  --color-content-alt: var(--customContentAlternate, var(--color-neutral-dark));
  --color-alt-content: var(--customAlternateContent, var(--color-black));
  --color-alt-content-alt: var(--customAlternateContentAlternate, var(--color-neutral-dark));
  --color-text-default: var(--customText, var(--color-black));
  --color-text-inverse: var(--customTextInverse, var(--color-white));

  --font-header: var(--customFontHeader, Inter);
  --font-body: var(--customFontBody, Inter);
  --font-sans: var(--font-body);

  --Font-Sizes-hero-header-default: 52px;
  --Font-Sizes-page-header-default: 48px;

  --Font-Sizes-h1: 48px;
  --Font-Sizes-h2: 36px;
  --Font-Sizes-h3: 30px;
  --Font-Sizes-h4: 24px;
  --Font-Sizes-h5: 24px;
  --Font-Sizes-h6: 18px;
  --Font-Sizes-paragraph: 16px;
  --Font-Sizes-quote-text: 20px;
  --Font-Sizes-description: 14px;
  --Font-Sizes-header-tab-text: 20px;
  --Font-Sizes-CTA-header: 42px;
  --Font-Sizes-hero-header: var(--customHeroHeaderSize, var(--Font-Sizes-hero-header-default));
  --Font-Sizes-FairData-xs: 12px;
  --Font-Sizes-page-header: var(--customPageHeaderSize, var(--Font-Sizes-page-header-default));
  --Font-Sizes-FairData-sm: 14px;
  --Font-Sizes-FairData-base: 16px;
  --Font-Sizes-FairData-lg: 20px;

  --font-weight-header: var(--customHeaderFontWeight, 400);
}

/*
 * Peripleo styles
 */
.p6o-map-container {
  height: 100%;
  width: 100%;
}

.p6o-zoom-control {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 0.5rem;
}

/*
 * Branding styles
 */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-header);
  font-weight: var(--font-weight-header);
}

.bg-primary, .fill-primary, .bg-primary div {
  color: var(--color-text-primary);
}

.bg-secondary, .fill-secondary, .bg-secondary div {
  color: var(--color-text-secondary);
}

.bg-layout-alt, .bg-layout-alt div {
  color: var(--color-alt-content);
}

.bg-layout-alt h1, .bg-layout-alt h2, .bg-layout-alt h3, .bg-layout-alt h4, .bg-layout-alt h6 {
  color: var(--color-content) !important;
}

.bg-layout h1, .bg-layout h2, .bg-layout h3, .bg-layout h4, .bg-layout h6 {
  color: var(--color-content) !important;
}

.bg-layout.content-alt, .bg-layout.content-alt div {
  color: var(--color-content-alt);
}

.bg-layout-alt.content-alt, .bg-layout-alt.content-alt div {
  color: var(--color-alt-content-alt);
}

.text-text-inverse, .text-text-inverse div {
  color: var(--color-text-inverse);
}

.hero-tab.bg-layout {
  color: var(--color-content)
}

.prose h1 {
  font-size: var(--Font-Sizes-h1);
}

.prose h1:has(+ h1) {
  margin-bottom: 0;
}

.prose h2 {
  font-size: var(--Font-Sizes-h2);
}

.prose h3 {
  font-size: var(--Font-Sizes-h3);
}

.prose h4 {
  font-size: var(--Font-Sizes-h4)
}

.prose h5 {
  font-size: var(--Font-Sizes-h5);
  color: var(--color-secondary) !important;
}

.prose h6 {
  font-size: var(--Font-Sizes-h6);
}

.link-button:has(+ .link-button) {
  margin-right: 1.5rem;
}

.link-button.bg-secondary, .link-button.bg-secondary div {
  color: var(--color-text-secondary) !important;
}

/*
 * Swiper styles
 */
.swiper-pagination > .swiper-pagination-bullet-active {
  background-color: var(--color-black);
}

/*
* Overriding some very opinionated default prose styles
*/
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  color: inherit;
  font-weight: var(--font-weight-header);
}