---
import { getRelativeLocaleUrl } from 'astro:i18n';
import _ from 'underscore';
import Container from '../../../components/Container.astro';
import PostCard from '../../../components/PostCard.astro';
import { fetchPosts } from '../../../helpers/tina-cms';
import { getTranslations } from '../../../i18n/server';
import Layout from '../../../layouts/Layout.astro';

const { t } = await getTranslations(Astro.currentLocale);
const posts = await fetchPosts();
---

<Layout
  footer
  title={t('posts')}
  tab='posts'
>
  <Container
    className='pb-16'
  >
    <h1
      class='text-3xl my-12'
    >
      { t('posts') }
    </h1>
    <div
      class='mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3'
    >
      { _.map(posts, (post) => (
        <PostCard
          imageUrl={post?.cardImage}
          slug={getRelativeLocaleUrl(Astro.currentLocale, `posts/${post._sys.filename}`)}
          title={post.title}
        />
      ))}
    </div>
  </Container>
</Layout>