---
import SearchItem from '@apps/session/SearchItem';
import BackButton from '@components/BackButton';
import Container from '@components/Container.astro';
import PageStoreProvider from '@components/PageStoreProvider';
import Layout from '@layouts/Layout.astro';
import { getSessionItem } from '@services/session';

const { id, lang } = Astro.params;

const item = await getSessionItem(Astro.session, 'search', id);
const sessionId = Astro.url.searchParams.get('sessionId');

export const getStaticPaths = () => [];

---

<Layout
  footer
>
  <Container
    className='py-6 relative w-full'
  >
    <BackButton
      className='absolute top-[26px]'
      client:load
    />
    <div
      class='ml-12'
    >
      <SearchItem
        id={id}
        lang={lang}
        sessionId={sessionId}
        client:only='react'
      />
    </div>
  </Container>
</Layout>

<PageStoreProvider
  title={item?.name}
  client:load
/>