---
import { clsx } from 'clsx';

const { className } = Astro.props;
---

<div
  class={clsx(
    'px-6 sm:px-12 md:px-16 lg:px-32 2xl:mx-auto max-w-screen-2xl',
    className
  )}
>
  <slot />
</div>