---
import clsx from 'clsx';
const { className, content, url, ...props } = Astro.props;
---

<a
  class={clsx(
    'inline-block mt-4 rounded-md px-6 py-3 hover:bg-opacity-95 cursor-pointer',
    className
  )}
  href={url}
  {...props}
>
  { content }
</a>