---
import Layout from "src/layouts/Layout.astro";
import { getTranslations } from "@i18n/server";
const { t } = await getTranslations(Astro.currentLocale);
import { getSession } from "auth-astro/server";

const session = await getSession(Astro.request);
console.log(session);
console.log(Astro.request);
---

<Layout t={t} title="sign in">
  <button id="login">Login</button>
  <button id="logout">Logout</button>

  {session ? <p>Hello {session.user?.name} </p> : <p>You are not logged in.</p>}

  <script>
    const { signIn, signOut } = await import("auth-astro/client");
    document.querySelector("#login").addEventListener(
      "click",

      () => signIn("keycloak")
    );
    document
      .querySelector("#logout")
      .addEventListener("click", () => signOut());
  </script>
</Layout>
