---
import { fetchPaths } from '@backend/tina-server';
import Card from '@components/Card.astro';
import Container from '@components/Container.astro';
import config from '../../../../public/config.json';
import { getTranslations } from '@i18n/server';
import Layout from '@layouts/Layout.astro';
import { getRelativeLocaleUrl } from 'astro:i18n';
import _ from 'underscore';

const { t } = await getTranslations(Astro.currentLocale);
const paths = await fetchPaths();

export const getStaticPaths = () => _.map(config.i18n.locales, (lang) => ({ params: { lang }}));

---

<Layout
  footer
  t={t}
  tab='paths'
  title={t('paths')}
>
  <Container
    className='pb-16'
  >
    <h1
      class='text-3xl my-12'
    >
      { t('paths') }
    </h1>
    <div
      class='mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3'
    >
      { _.map(paths, (path) => (
        <Card
          imageUrl={path?.image}
          slug={getRelativeLocaleUrl(Astro.currentLocale, `/paths/${path?._sys.filename}` || '#')}
          t={t}
          title={path?.title || t('untitled')}
        />
      ))}
    </div>
  </Container>
</Layout>