---
import clsx from 'clsx';

const {
  backgroundHeight,
  buttonColor,
  buttonText,
  description,
  image,
  imageAlt,
  secondary,
  textPosition,
  title,
  url,
  verticalAlignment
} = Astro.props;
---

<div
  class={clsx(
    'relative flex flex-col md:flex-row px-10 py-8 md:p-24 gap-y-8',
    { 'flex-col-reverse md:flex-row-reverse': textPosition === 'right' }
  )}
>
  { backgroundHeight && (
    <div
      class={clsx(
        'absolute top-0 left-0 right-0 bottom-0 bg-primary',
        { 'h-[80%] md:h-[65%]': backgroundHeight === 'half' }
      )}
    />
  )}
  <div
    class={clsx(
      'md:pe-24 md:w-[50%] z-10',
      { 'text-white': !!backgroundHeight },
      { 'md:flex md:flex-col md:justify-center': verticalAlignment === 'middle' }
    )}
  >
    <h2
      class='text-4xl font-bold uppercase'
    >
      { title }
    </h2>
    <p
      class='mt-5'
    >
      { description }
    </p>
    <div>
      <a
        class='inline-block mt-4 rounded-md px-6 py-3 bg-secondary'
        href={url}
        style={{
          backgroundColor: buttonColor
        }}
      >
        { buttonText }
      </a>
    </div>
  </div>
  <div
    class='md:w-[50%] z-10 flex justify-center'
  >
    <div
      class='w-[440px] h-[512px]'
    >
      <img
        alt={imageAlt}
        class='w-full h-full object-cover'
        src={image}
      />
    </div>
  </div>
</div>