---
import clsx from 'clsx';
import Container from '@components/Container.astro';
import LinkButton from '@components/LinkButton';
import SearchBar from '@apps/pages/sections/SearchBar';
import RichText from '@apps/pages/sections/RichText.astro';
import { toBackgroundClass, toTextClass } from '@utils/pageBuilder';

const Height = {
  small: 'small',
  medium: 'medium',
  large: 'large'
};

const {
  attribution,
  background,
  backgroundImage,
  darken,
  date,
  icon,
  quote,
  text
} = Astro.props;
---

<div
  class={clsx(
    'w-full relative flex flex-col justify-center items-center font-serif overflow-hidden',
    toBackgroundClass(background),
    text
  )}
>
  { backgroundImage && (
    <img 
      src={backgroundImage} 
      class='w-full h-full object-cover absolute inset-0'
    /> 
  ) }
  { darken && (
    <div
      class='absolute top-0 left-0 w-full h-full bg-tertiary mix-blend-multiply'
    /> 
  ) }
  <Container className={clsx(
    'flex flex-col justify-center py-12 z-10'
  )} >
    { icon && (
      <img src={icon} class='h-12 object-scale-down'/>
    ) }
    <p class='text-[20px] p-12 text-center leading-[160%]'>
      { quote }
    </p>
    <p class='italic font-serif text-sm text-center'>
      { attribution }
    </p>
    <p class='italic font-serif text-sm text-center'>
      { date }
    </p>
  </Container>
</div>