---
import clsx from 'clsx';
import _ from 'underscore';
import { toBackgroundClass, toTextClass } from '@utils/pageBuilder';
import Container from '@components/Container.astro';

const { fullWidth, links } = Astro.props;
---
<div class='absolute bottom-0 w-full'>
  <Container>
    <div class={clsx(
      'gap-0.5',
      { 'w-full grid auto-cols-fr grid-flow-col': fullWidth },
      { 'flex flex-row': !fullWidth }
    )}>
      {
        _.map(links, link => ( 
          <a href={link.link || '#'} class={clsx(
            'hero-tab flex items-center justify-center py-8 px-12 font-serif italic text-2xl z-50',
            link.background && toBackgroundClass(link.background),
            link.text,
            { 'cursor-default': !link.link }
          )}>
            <p>{ link.label }</p>
          </a>
        ))
      }
    </div>
  </Container>
</div>