---
import clsx from 'clsx';
import _ from 'underscore';
import { toBackgroundClass, toTextClass } from '@utils/pageBuilder';
import Container from '@components/Container.astro';

const { links } = Astro.props;
---

<Container className='absolute bottom-0 grid w-full auto-cols-fr grid-flow-col gap-0.5'>
  {
    _.map(links, link => ( 
      <a href={link.link || '#'} class={clsx(
        'flex items-center justify-center py-8 font-serif italic text-2xl z-50',
        toBackgroundClass(link.background),
        toTextClass(link.text),
        { 'cursor-default': !link.link }
      )}>
        <p>{ link.label }</p>
      </a>
    ))
  }
</Container>